@use "../../styles/mixins" as mixins;

.comment-card {
  margin-bottom: 16px;
  border: 0;
}

mat-card-title {
  font: var(--mat-sys-title-small);
  color: var(--mat-sys-secondary);
  background-color: var(--mat-sys-secondary-container);
}

mat-card-header {
  padding-top: 0;
  align-items: center;
}

.comment-body {
  white-space: pre-line;
  padding-left: 24px;
}

.comment-replies {
  margin-left: 24px;
  padding-left: 16px;
  border-left: 2px solid var(--mat-sys-inverse-primary);
  border-bottom: 2px solid var(--mat-sys-inverse-primary);
  border-radius: 10px;
  margin-top: 16px;
}

.collapse-button {
  margin-left: auto;
  color: var(--mat-sys-secondary);
}

.collapsed-replies-summary {
  display: flex;
  align-items: center;
  color: var(--mat-sys-primary);
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--mat-sys-surface-container);
  cursor: pointer;

  mat-icon {
    @include mixins.mat-icon-size(16px);
    margin-right: 8px;
  }

  span {
    font: var(--mat-sys-body-medium);
  }
}
