@use "../../styles/mixins" as mixins;

.back-button {
  margin-bottom: 32px;
}

.no-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
  color: var(--mat-sys-secondary);

  mat-icon {
    @include mixins.mat-icon-size(48px);
    margin-bottom: 16px;
  }
}
